section.destinations {
    margin-bottom: 88px;
}

.destinations .section-title {
    width: 392px;
    margin: auto;
    padding: 0px 24px;
}

article.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 392px;
    margin: 32px auto 40px;
}

.destinations .item header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    height: 100%;
    background-color: transparent;
    padding: 0;
}

.img-item {
    width: 392px;
    height: 360px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.img-item.tokyo {
    background-image: url(../img/Tokyo-mobile.jpg);
}

.img-item.osaka {
    background-image: url(../img/Osaka-mobile.jpg);
}

/* blog */
.img-item.kyoto {
    background-image: url(../img/blog/Kyoto-mobile.png);
}

.img-item.hiroshima {
    background-image: url(../img/blog/Hiroshima-mobile.png);
}

.title-destination {
    font-size: 32px;
    text-align: start;
    width: 100%;
}

.text-destination {
    font-size: 24px;
}

@media screen and (min-width:768px) {
    article.item {
        width: 648px;
        align-items: start;
    }

    .img-item.tokyo {
        width: 648px;
        height: 452px;
        background: url(../img/Tokyo-tablet.jpg) no-repeat;
        background-position: center;
    }

    .img-item.osaka {
        width: 648px;
        height: 452px;
        background: url(../img/Osaka-tablet.jpg) no-repeat;
        background-position: center;
    }

    .destinations .section-title {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    /* blog */
    .img-item.kyoto {
        width: 648px;
        height: 452px;
        background-image: url(../img/blog/Kyoto-tablet.png);
    }

    .img-item.hiroshima {
        width: 648px;
        height: 452px;
        background-image: url(../img/blog/Hiroshima-tablet.png);
    }

}

@media screen and (min-width:1024px) {
    section.destinations {
        margin-bottom: 104px;
    }

    .destination-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 900px;
        margin: auto;
        gap: 24px;
    }

    article.item,
    .img-item.tokyo,
    .img-item.osaka {
        width: 100%;
        margin: 0;
    }

    /* blog */
    .destinations-blog {
        display: flex;
        width: 900px;
        gap: 24px;
        justify-content: center;
        margin: auto;
    }

    .destinations-blog .destination-items {
        width: 100%;
    }

    .destinations-blog article.item,
    .img-item.kyoto,
    .img-item.osaka,
    .img-item.hiroshima {
        width: 280px;
    }

    .img-item.kyoto {
        background-image: url(../img/blog/Kyoto-desktop.png);
    }

    .img-item.hiroshima {
        background-image: url(../img/blog/Hiroshima-desktop.png);
    }

}

@media screen and (min-width:1440px) {
    .destination-items {
        width: 1200px;
    }

    article.item,
    .img-item.tokyo,
    .img-item.osaka {
        width: 588px;

    }

    .destinations-blog {
        width: 1200px;
        gap: 32px;
    }

    .destinations-blog article.item,
    .img-item.kyoto,
    .img-item.osaka,
    .img-item.hiroshima {
        width: 384px;
    }
}

@media screen and (min-width:1920px) {
    .destinations-blog {
        width: 1600px;
    }

    .destinations-blog article.item,
    .img-item.kyoto,
    .img-item.osaka,
    .img-item.hiroshima {
        width: 100%;
    }
}