.hero-img {
    height: 400px;
    width: 100%;
    background: url(../img/hero-mobile.jpg) no-repeat;
    background-size: cover;
}

.hero h2 {
    margin: 88px auto;
    width: 312px;
    text-align: center;
    font-weight: var(--text-weigh);
    font-size: 20px;
    line-height: 1.5;
}

/* responsividade tablet */
@media screen and (min-width: 768px) {

    .hero-img {
        height: 620px;
        width: 100%;
        background: url(../img/hero-tablet.jpg) no-repeat;
        background-size: cover;
    }

    .hero h2 {
        padding: 0;
        margin: 104px auto;
        width: 648px;
    }
}

/* responsividade desktop */
@media screen and (min-width: 1024px) {

    .hero-img {
        height: 620px;
        width: 100%;
        background: url(../img/hero-desktop.jpg) no-repeat;
        background-size: cover;
    }

    .hero h2 {
        width: 900px;
    }
}

@media screen and (min-width: 1440px) {
    .hero h2 {
        width: 1200px;
    }
}