.hero-img {
    height: 400px;
    width: 100%;
    background: url(../img/hero-mobile.jpg) no-repeat;
    background-size: cover;
}

.hero h2 {
    margin: 88px auto;
    width: 312px;
    text-align: center;
    font-weight: var(--text-weigh);
    font-size: 24px;
    line-height: 1.5;
}

/* Pacotes de Viagens */
.travel-packages .hero-img {
    height: 460px;
    width: 100%;
    background: url(../img/Travel-packages/hero-japao-mobile.png) no-repeat;
    background-size: cover;
    padding: 65px 24px;
    margin-bottom: 88px;
}

.contact,
.blog,
.travel-packages .hero-content {
    color: var(--text-secondary-color);
}

.hero-content h1 {
    font-size: 48px;
    font-weight: var(--title-weight);

}

.hero-content p {
    font-size: 20px;
    font-weight: var(--text-weight);
}

.hero-content hr {
    width: 180px;
    height: 4px;
    background-color: var(--secondary-color);
    border: none;
    margin: 16px 0 32px;
}

/* blog */
.blog .hero-img {
    height: 460px;
    width: 100%;
    background: url(../img/blog/herp-blog-mobile.png) no-repeat;
    background-size: cover;
    margin-bottom: 88px;
}

.blog .hero-content {
    padding: 81px 24px;
}

.blog .hero-content h1 {
    font-size: 55px;
}

.blog .hero-content p {
    font-size: 24px;
}

/* contato */
.contact .hero-img {
    height: 460px;
    width: 100%;
    background: url(../img/blog/../contato/hero-contato-mobile.png) no-repeat;
    background-size: cover;
    margin-bottom: 88px;
}

.contact .hero-content {
    padding: 81px 24px;
}

.contact .hero-content h1 {
    font-size: 55px;
}

.contact .hero-content p {
    font-size: 24px;
}


/* responsividade tablet */
@media screen and (min-width: 768px) {

    .hero-img {
        height: 620px;
        width: 100%;
        background: url(../img/hero-tablet.jpg) no-repeat;
        background-size: cover;
    }

    .hero h2 {
        padding: 0;
        margin: 104px auto;
        width: 648px;
    }

    /* travel packages*/
    .travel-packages .hero-img {
        height: 620px;
        background: url(../img/Travel-packages/hero-japao-tablet.png);
        box-sizing: border-box;
        padding: 210px 69px 108px 120px;
    }

    .hero-content p {
        font-size: 32px;
    }

    /* blog */
    .blog .hero-img {
        height: 620px;
        background: url(../img/blog/hero-blog-tablet.png) no-repeat;
    }

    .blog .hero-content {
        padding: 159px 94px;
    }

    .blog .hero-content h1 {
        font-size: 48px;
    }

    .blog .hero-content p {
        font-size: 32px;
    }

    /* Contato */
    .contact .hero-img {
        height: 620px;
        background: url(../img/contato/hero-contato-tablet.png) no-repeat;
    }

    .contact .hero-content {
        padding: 159px 94px;
    }

    .contact .hero-content h1 {
        font-size: 48px;
    }

    .contact .hero-content p {
        font-size: 32px;
    }

}

/* responsividade desktop */
@media screen and (min-width: 1024px) {

    .hero-img {
        height: 620px;
        width: 100%;
        background: url(../img/hero-desktop.jpg) no-repeat;
        background-size: cover;
    }

    .hero h2 {
        width: 900px;
    }

    .travel-packages .hero-img {
        background: url(../img/Travel-packages/hero-japao-desktop.png)no-repeat;
        background-size: cover;
        background-position: center;
        padding: 148px 365px 148px 62px;
        margin-bottom: 104px;
    }

    /* blog */
    .blog .hero-img {
        width: 100%;
        background: url(../img/blog/hero-blog-desktop.png) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .blog .hero-content {
        padding: 209px 400px 107px 60px;
    }

    /* contato */
    .contact .hero-img {
        width: 100%;
        background: url(../img/contato/hero-contato-desktop.png) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .contact .hero-content {
        padding: 209px 400px 107px 60px;
    }

}

@media screen and (min-width: 1440px) {
    .hero h2 {
        width: 1200px;
    }

    .travel-packages .hero-content {
        width: 1200px;
        margin: auto;
    }

    .travel-packages .hero-img {
        padding: 209px 0;
    }

    /* Blog */
    .blog .hero-content {
        margin: auto;
        width: 1200px;
        padding: 209px 0;
    }

    /* contato */
    .contact .hero-content {
        margin: auto;
        width: 1200px;
        padding: 209px 0;
    }
}

@media screen and (min-width: 1920px) {
    .blog .hero-content {
        margin: auto;
        width: 1600px;
        padding: 209px 0;
    }
}