.presentetion {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 88px;
}

.presentetion-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
}

.presentetion-content,
.presentetion-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.presentetion-text h2 {
    font-weight: var(--title-weight);
    font-size: 30px;
}

.presentetion-text p {
    font-weight: var(--text-weight);
    font-size: 24px;
}

.img-presentetion {
    background: url(../img/blog/img-restaurante-mobile.png)no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
}

.img-tokyo {
    background: url(../img/blog/tokyo-mobile.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    margin-bottom: 8px;
}

/* responsividade tablet */
@media screen and (min-width: 768px) {
    .presentetion-container {
        gap: 32px;
        padding: 60px;
    }

    .presentetion-content {
        flex-direction: row;
        width: 648px;
    }

    .presentetion-content .presentetion-text {
        width: 312px;
    }

    .img-presentetion {
        width: 312px;
        background-position: center;
    }

    .img-tokyo {
        background: url(../img/blog/Tokyo-tablet.png) no-repeat;
        background-size: cover;
        width: 100%;
        height: 336px;
    }
}

/* responsividade laptop */
@media screen and (min-width: 1024px) {
    .presentetion-content {
        width: 900px;
    }

    .img-presentetion {
        background: url(../img/blog/img-restaurante-desktop.png)no-repeat;
        background-size: cover;
        background-position: center;
        width: 500px;
        height: 360px;
    }

    .presentetion-content .presentetion-text {
        width: 500px;
    }

    .img-tokyo {
        background: url(../img/blog/Tokyo-desktop.png) no-repeat;
        background-size: cover;
        width: 100%;
        height: 300px;
    }
}

/* responsividade desktop */
@media screen and (min-width: 1440px) {
    .presentetion-container {
        padding: 0;
        width: 1200px;
    }

    .presentetion-content {
        justify-content: space-between;
        width: 1200px;
    }

    .img-presentetion {
        width: 588px;
    }

    .presentetion-content .presentetion-text {
        width: 588px;
    }
}

@media screen and (min-width: 1920px) {
    .presentetion-container {
        width: 1600px;
        padding: 0;
    }

    .presentetion-content {
        width: 1600px;
    }

    .img-presentetion {
        width: 700px;
    }
}