.testimonials {
    margin-bottom: 88px;
}

.testimonials-items {
    margin: auto;
    width: 312px;
}

.container-testimonials header {
    background-color: transparent;
    padding: 0;
    height: auto;
}

.comment-user {
    font-size: 16px;
    font-weight: var(--text-weight);
}

.container-comment {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 86px 1fr;
    grid-template-rows: repeat(2, 43px);
    grid-column-gap: 24px;
    margin-bottom: 32px;
}

.user-perfil {
    width: 86px;
    height: 86px;
    grid-area: 1 / 1 / 3 / 2;
}


.container-comment h3 {
    text-align: start;
    line-height: 43px;
    font-size: 20px;
    grid-area: 1 / 2 / 2 / 3;
}

.star {
    font-size: 34px;
    line-height: 43px;
    color: var(--secondary-color);
    grid-area: 2 / 2 / 3 / 3;
}

@media screen and (min-width:768px) {
    .testimonials-items {
        width: 648px;
    }
}

@media screen and (min-width:1024px) {
    .testimonials-items {
        width: 900px;
        display: flex;
        gap: 24px;
    }

    .container-testimonials {
        width: 340px;
        height: 100%;
    }

    .container-comment h3 {
        font-size: 19px;
    }

    .star {
        font-size: 33px;
    }

}

@media screen and (min-width:1440px) {
    .testimonials-items {
        margin: 64px auto 104px;
        width: 1200px;
    }

    .container-testimonials {
        width: 384px;
        height: 206px;
    }

    .container-comment h3 {
        font-size: 20px;
    }

    .star {
        font-size: 34px;
    }

}